body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navbar {
    background-color: #f27373;
    color: white;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
}

.navbar ul{
    display: flex;
    gap: 25px;
}

.navbar ul li {
    list-style: none;
    cursor: pointer;
    
}

.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease-in-out; 
}

.navbar a:hover {
    background-color: #b23a3a;
    border-radius: 10px;
    padding: 7px;
}

footer {
    background-color: #f27373;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

